[submodule "deps/re2"]
	path = deps/re2
	url = https://github.com/google/re2.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/libgit2"]
	path = deps/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "deps/plog"]
	path = deps/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/Shark"]
	path = deps/Shark
	url = https://github.com/Shark-ML/Shark.git
